<nav class="navbar navbar-dark d-flex flex-md-nowrap p-2 shadow " style="background-color: #282727;">
    <a class="navbar-brand mx-4 border-bottom" href="/dashboard"><img src="/images/Stellaire_white.png" height="32" width="250" alt="Company Logo" class="d-inline-block align-text-top"></a>
    <span class="navbar-text col-md-4 mx-4 fs-4 text-end">Battery Spy</span>
</nav>