<div class="card card-chart d-flex bg-dark text-white border-white border-1 rounded-2 h-50">
    <div class="card-header bg-dark text-white border-white border-1 rounded-2">
        <div class="row d-flex bg-dark text-white border-white border-1 rounded-2">
            <div class="col-md-6 text-start bg-dark text-white border-white border-1 rounded-2">
                <h5 class="card-title">Battery Inventory</h5>
                <h2>Units</h2>
            </div>
            <div class="col-md-6 text-end">
                <div class="btn-group btn-group-toggle float-end border border-white border-1 rounded-2" data-bs-toggle="buttons">
                    <label class="btn btn-sm btn-dark border-end border-white border-1 active" id="0">Totals</label>
                    <label class="btn btn-sm btn-dark border border-white border-1" id="1">Platforms</label>
                    <label class="btn btn-sm btn-dark border-start border-white border-1" id="2">Sizes</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-chart d-flex bg-dark text-white border-white border-1 rounded-2 h-25 mt-5 shadows">
    <div class="card-header text-white border-white border-1 rounded-2">
        <div class="row d-flex text-white border-white border-1 rounded-2">
            <div class="col-md-6 text-start bg-dark text-white border-white border-1 rounded-2" style="background-color: #373636;">
                <h5 class="card-title">Battery Inventory</h5>
                <h4>Details</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-dark table-striped" style="background-color: #373636;">
                    <thead>
                        <tr>
                            <th>Serial Number</th>
                            <th>Platform</th>
                            <th>Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1234567890</td>
                            <td>Platform 1</td>
                            <td>Size 1</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>