@import url('https://fonts.cdnfonts.com/css/tt-firs-neue-trl');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TT Firs Neue Trl', sans-serif;
}

body {
    background: #ecf0f3;
}

.main_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Background_image {
    width: 100%;
    height: 100vh;
    background-image: url('/images/fields.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-top: -100px;
}

.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #f1f4f6;
    opacity: 0.9;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 13px 13px 20px #353a3a, -13px -13px 20px #3a3f3f;
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
    font-family: 'TT Firs Neue Trl', sans-serif;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    font-family: 'TT Firs Neue Trl', sans-serif;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #747a7d;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #039BE5;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: #1aaee8;
}

.wrapper a:hover {
    color: #039BE5;
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}

.company_logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.company_logo img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.wrapper h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #0a0a0a;
    font-family: 'TT Firs Neue Trl', sans-serif;
    margin-top: 25px;
}